
/* "https://fonts.googleapis.com/css?family=Orbitron" */
.id-card-wrapper {
  height: 60vh;
  display: flex;
}
.id-card {
  flex-basis: 100%;
  max-width:40em;
  border: 1px solid rgb(97, 245, 245);
  margin:  auto;
  color: #fff;
  padding: .5em;
  background-color: #17445E;
  box-shadow: 0px 0px 3px 1px #12a0a0, inset 0px 0px 3px 1px #12a0a0;
  border-radius: 10px;
}

.profile-row {
  display: flex;
}
.profile-row .dp {
  flex-basis: 33.3%;
  position: relative;
  margin: 24px;
  align-self: center;
}
.profile-row .desc {
  flex-basis: 66.6%;
}

.profile-row .dp img {
  max-width: 100%;
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 4px 3px #12a0a0;
}
.profile-row .desc {
  padding: 1em;
}

.profile-row .dp .dp-arc-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 6px solid transparent;
  border-top-color: #0AE0DF;
  border-radius: 50%;
  top: -6px;
  left: -6px;

  animation-duration: 2s;
  animation-name: rotate-clock;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-row .dp .dp-arc-outer {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 6px solid transparent;
  border-bottom-color: #0AE0DF;
  border-radius: 50%;
  top: -16px;
  left: -16px;

  animation-duration: 2s;
  animation-name: rotate-anticlock;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate-anticlock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.profile-row .desc {
  font-family: 'Orbitron', sans-serif;
  color: #ecfcfb;
  text-shadow: 0px 0px 4px #12a0a0;
  letter-spacing: 1px;
}
.profile-row .desc h1 {
  margin: 0px;
}
  .getButton
  {

    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: #216288;
    border-radius: 20px;
    cursor: pointer;
    border-color: white;

  }
  .getButton:hover{
      background-color: #17445E;
      text-transform: uppercase;
  }

  .idInput
  {
    padding: 20px;
    border-radius: 10px;
    border: chocolate;
  }

  .grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%;
    margin: 20px auto; 
    
} 
.grid-child-element { 
    margin: 10px auto; 
    
    
}

.allowBtn
{
  display:flex;
  gap: 10px;
}

.allowBtn button {
  margin-bottom: 95%;
  padding: 10px 30px;
  border-radius: 5px;
  border:white;
  background-color: #216288;
  color: aquamarine;
  cursor: pointer;

}
.allowBtn button:hover {
  background-color: #17445E;
}



/* /------------------Model------------------/ */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 150vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 10px 28px;
  border-radius: 3px;
  
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.addBox
{
  display: grid;
  margin: 60px auto;
  gap: 20px;
  
}

.addBox input{
  padding: 15px;
  width: 80%;
  border-radius: 10px;
}
